extends layout 

block content 
    h2=title  
    hr
    ul 
        li 
            a(href="/admin/add") Add new Hotel 
        li 
            a(href="/admin/edit") Edit/ remove Hotel 
        li 
            a(href="/admin/orders") View bookings  