extends layout 
include mixins/country

block content 
    h2=title 
        .country_wrapper    
            ul 
                each country in allCountries 
                    +countryList(country)
                else 
                    li There are no countries
