extends layout
include mixins/hotel
include mixins/country
 
block content
  .outer_wrapper 
    .hotel_wrapper 
      h2 Hotels 
        a(href="/all") (See all): 
      
      each hotel in filteredHotels
        +hotel(hotel)
    .country_wrapper 
      h2 Countries 
        a(href="/countries")  (See all)
      ul    
        each country in filteredCountries 
          li 
            a(href=`/countries/${country._id}`) #{country._id}   
            img(src=`/images/countries/${country._id}.jpg`, alt="")